section {
	width: 1024px;
	margin: 0 auto;
}

.backward {
	width: 1000px;
	margin: 0 auto;
	font-size: 12px;
}

.breadcrumb {
	width: 1000px;
	margin: 9px 0 42px 16px;
}

.breadcrumb li {
	display: inline-block;
	font-size: 11px;
	color: #888;
}

.breadcrumb a {
	color: #888;
}

.breadcrumb a:after {
	content: '';
	display: inline-block;
	background: url(../assets/sprite.png) no-repeat -187px -178px;
	width: 4px;
	height: 5px;
	padding: 0 3px;
}

.breadcrumb a:hover, .backward a:hover {
	color: #555;
}

.backward a {
	color: #888;
}

.backward a:before {
	content: '';
	display: inline-block;
	width: 8px;
	height: 7px;
	background: url(../assets/sprite.png) no-repeat -192px -187px;
}

.advantages {
	background: #ff6600;
	color: #fff;
	font-size: 13px;
}

.advantages p {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
	line-height: 40px; 
}

.navBlock {
	display: inline-block;
	float: left;
	text-align: left;
}

.navBlock ul{
	list-style-type: none;
	margin: 9px 0 0 16px;
}

.navBlock li {
	line-height: 22px;
	font-size: 12px;
}

.navBlock a {
	color: #c0c0c0;
}

.navBlock aside a:hover {
	color: #555;
}

.navBlock nav a:hover {
	color: #888;
}

.navBlock strong, .porscheNavMenu strong {
	color: #555;
	font-weight: lighter;
}

.porscheCollection {
	display: inline-block;
	position: relative;
	left: 227px;
	color: #555;
	font-family:'HelveticaNeue-300';
	text-transform: none;
	margin-bottom: 7.9%;
}

.navBlock hr {
	background: #999;
	height: 1px;
	width: 34px;
	border: none;
	margin: 21px 0 22px 16px;
	text-align: left;
}

.porscheGallery {
	margin-top: 35px;
}

.porscheCollection h1 {
	font-size: 36px;
	font-weight: lighter;
	margin: 5px 0 18px 0;
}

.porscheCollection hr {
	width: 72px;
	height: 1px;
	border: none;
	background: #ff6600;
	margin: 0 0 23px 0;
	text-align: left;
}

.porscheGallery img {
	display: block;
	margin-bottom: 20px;
	width: 100%;
}

.porscheCollection p {
	color: #888;
	font-size: 12px;
	width: 480px;
	line-height: 23px;
	margin-bottom: 17px;
}

.mobile-nav-block {
	display: none;
}